[submodule "medford-language-server"]
	path = medford-language-server
	url = git@github.com:liam-strand/medford-language-server.git
[submodule "medford-parser"]
	path = medford-parser
	url = git@github.com:liam-strand/medford.git
